<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Caixa - Barbearia TOP</title>
  <link rel="stylesheet" href="style/caixa.css">
</head>
<body>
<header>Caixa - Barbearia TOP</header>
<main>
  <h2>Resumo de Ganhos</h2>
  <p>Ganho do dia: <span class="valor" id="ganho_dia">R$ --</span></p>
  <p>Ganho do mês: <span class="valor" id="ganho_mes">R$ --</span></p>
  <p>Média diária no mês: <span class="valor" id="media_mensal">R$ --</span></p>
  <a class="logout" href="/logout">Sair</a>
</main>


<script src="/style/js/caixa.js">
</script>
</body>
</html>