login.html <!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Login - Barbearia Style</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

</head>
<body>
  <main>
    <h2>Login do Administrador</h2>
    <form method="POST" action="/login">
      <label>Usuário</label>
      <input name="usuario" required>
      <label>Senha</label>
      <input type="password" name="senha" required>
      <button type="submit">Entrar</button>
    </form>
  </main>
 <script src="{{ url_for('static', filename='js/login.js') }}"></script>

</body>
</html> 