<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Login Proprietário</title>
  <link rel="stylesheet" href="style/login.css">
</head>
<body>
<header>Login Proprietário</header>
<div class="botao">
    <a href="login.html" class="btn"></a>
    <a href="caixa.html">👨‍💼 </a>
</div>
<main>
  <div id="messages" class="error" style="display:none"></div>

  <form id="loginForm">
    <label for="usuario">Usuário</label>
    <input type="text" name="usuario" id="usuario" required />
    <label for="senha">Senha</label>
    <input type="password" name="senha" id="senha" required />
    <button type="submit">Entrar</button>
  </form>

  <a href="/">Voltar para o site</a>
</main>
<script src="/static/login.js"></script>
</body>
</html>