<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Agenda - Barbearia Style</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/agenda.css') }}">


 </head> 
<body>
  <header>Agenda - Barbearia Style</header>

  <main>
    <h2>Agenda</h2>

    <section>
      <label for="data">Escolha a data</label>
      <input type="date" id="data" />
    </section>

    <section>
      <h3>Novo Agendamento</h3>

      <form id="agendamentoForm">
        <label for="nome">Nome</label>
        <input id="nome" name="nome" required />

        <label for="telefone">Telefone</label>
        <input id="telefone" name="telefone" />

        <label for="servico">Serviço</label>
        <select id="servico" name="servico" required>
          <option value="1">Corte de cabelo - R$ 50,00</option>
          <option value="2">Barba terapêutica - R$ 30,00</option>
          <option value="3">Sobrancelha - R$ 15,00</option>
          <option value="5">Corte de cabelo + Barba - R$ 70,oo</option>
          <option value="6">Barba - R$ 20,00 </option>
        </select>

        <label for="hora">Hora</label>
        <select id="hora" name="hora" required></select>

        <button type="submit">Agendar</button>
      </form>
    </section>

   
  </main>
  <!-- JS carregado no final -->
 <script src="{{ url_for('static', filename='js/agenda.js') }}"></script>



</body>
</html>