<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Barbearia Style</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
  <header>
    <h1>💈 Barbearia Style</h1>
    <img src="{{ url_for('static', filename='img/Barberia.jpeg') }}" alt="Logo da barbearia">
  </header>

  <main>
    <p>Bem-vindo! Escolha uma opção para continuar:</p>
    <a href="{{ url_for('agenda') }}">Ir para Agenda</a><br>
    <a href="{{ url_for('meus_agendamentos') }}">Meus Agendamentos</a>
  </main>

  <footer>
    <p>© 2021 Barbearia Estilo</p>
  </footer>

  <script src="{{ url_for('static', filename='js/home.js') }}" type="module"></script>
</body>
</html>
