title{
    color: #333;
}
header {
    text-align: center;
    font-size: 84px;
    margin-top: 20px;
    color: #333;
}
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 84px;
}
section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}
input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #200bdf;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 46px;
    cursor: pointer;
}
button:hover {
    background-color: #1508a3;
}
body {
   background-color: #a8adabc7;
   }
body {
  background-image:url;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* opcional: faz o fundo ficar fixo ao rolar */
}
input[type="NUMBER"] {
    font-size: 24px;
   text-align: center;
    color: #333;
    margin-bottom: 10px;
    font-size: 24px;
    border: 2px solid #ccc;
    border-radius: 6px;
    width: 100%;
}
input[type="NUMBER"]::placeholder {
    color: #aaa;
}
input[type="text"]:focus {
    border-color: #200bdf;
    box-shadow: 0 0 5px rgba(32, 11, 223, 0.5);
    outline: none;
    text-align: center;
}
.valor {
    font-weight: bold;
    color: #200bdf;
}
a.logout {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #200bdf;
    text-decoration: none;
}
a.logout:hover {
    text-decoration: underline;
}
comment {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}
.main {
    padding: 20px;
    margin-top:10px ;
    text-align: center;
}
h2 {
    margin-bottom: 20px;
    text-align: center;
}
p {
    font-size: 24px;
    margin: 10px 0;
    text-align: center;
}
input {
    font-size: 24px;
    text-align: center;
}
