body {
  background-color: #bdbdbd;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

input {
  width: 200px;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #999;
  border-radius: 6px;
  text-align: center;
  font-size: 16px;
}

button {
  width: 150px;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: royalblue;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #003399;
}

.btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
