.title {
    color: #333;
    text-align: center;
    width: 200px;
    margin: 0 auto; 
}

header {
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    color: #333;
}

.container { 
    max-width: 400px; 
    margin: 20px auto; 
    padding: 60px;
    background-color: #f9f9f9;
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
    text-align: center; 
}

input {
    width: 100%; 
    max-width: 300px; 
    padding: 8px; 
    margin-bottom: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

button {
    width: 100%; 
    max-width: 300px; 
    padding: 10px;
    background-color: #200bdf;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    display: block; 
    margin: 0 auto; 
}

button:hover {
    background-color: #1508a3;
    
}

body {
    background-color: #a8adabc7;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
h1{
    text-align: center;
}